{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "coverage": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
              "src/**/*.spec.js"
            ]
          }
        ]
      ]
    }
  },
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }]
  ]
}
