{
  "presets": [
    "es2015"
  ],
  "env": {
    "coverage": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
              "spec/**/*.spec.js"
            ]
          }
        ]
      ]
    }
  }
}
