{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "build": {
      "plugins": [
        "babel-plugin-transform-import-extension-jsx-to-js"
      ]
    },
    "coverage": {
      "plugins": [
        [
          "istanbul", {
            "exclude": [
              "src/**/*.spec.jsx",
              "**/TestUtils.js"
            ]
          }
        ]
      ]
    }
  },
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }]
  ]
}
