{
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "html",
    "markdown"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "globals": {
    "ol": false
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "key-spacing": ["error", {
      "beforeColon": false,
      "afterColon": true
    }]
  }
}
