# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Build & dist folders
/build
/dist

# Coverage folder
/coverage

# when testing in FF, this file sometimes gets stored in the repository root.
# See https://askubuntu.com/questions/144408/what-is-the-file-c-nppdf32log-debuglog-txt
*debuglog.txt

# ignore IntelliJ iml files
*.iml
.idea
