language: node_js
node_js:
- "8"
- "10"
script:
- npm run build
after_success:
- npm run-script coveralls
# Generation of the styleguide on travis is broken at the moment
#- "./.ci/update-gh-pages.sh > /dev/null 2>&1"
cache:
  directories:
  - node_modules
env:
  global:
    secure: FZGVEw1voT8jwTf7y6w1PMgYarxZMuTCupE3o4X5t/RJkC+yo+FRU/DieVDWyhsxF80CfpUou6ivDv2auHPSzNPeLuQGWbRV7FCGcHTpQQ+5CWlaJORmSR5rnBj3WuucbH77MWvKoEzbqca37UB3qzJEpvuNxpLPPO3/YT+OgNEGyq4nnzjUhSPdDRgqZaHQsvB5mQlfb/s19S6KYw5RIdZAtmDN6dgwPTInppXe/rVquHw3XawfFPzj1KhfrXHFQIXhF8hsm5yfvz0Pr3YWeMxi7oKV6tEHeOEE4U+MnszUOMtZyny/3f3+JqUJiT14/XYVSQkUme9WUjiT0xA3FqEg6szoyLJ6Ui5wiiyqqxJPILPFcorH5ZiB5emQ3auhvAeDflmawSDt0SuME42AkUrwoJ+3Pgd8iWojWkrBvURnYvJuNlAkAafqhHNu1tKTKw3AbbQSR0TxRdOKay/t1YGdNZkCz2SjIZKSMdOSapbaaxBzcaQVf+/8XnXL5+V2HVuy6TQde8lihZ+Tt0MAlaBgROBba2VftHQhS6bWcUtnGdXv/eu/PiiOA6/jWNmrXaXk+0U4o+L8YMufKSQ1na0vr/xsumiz/O0wnbrLkAuVfBMXsDKk9fx2HktltjVNMLu8/4o8O6rtm2R/1t3O+EhWnPbPSXeL4H2uXrO1Xks=
