.react-geo-togglebutton.btn-pressed.ant-btn-primary {
  color: var(--ant-color-text-light-solid, #fff);
  background: var(--ant-color-primary-active, #0958d9);
}

.react-geo-togglebutton.btn-pressed.ant-btn-default {
  color: var(--ant-button-default-active-color, #0958d9);
  border-color: var(--ant-button-default-active-border-color, #0958d9);
  background: var(--ant-button-default-active-bg, #ffffff);
}

.react-geo-togglebutton.btn-pressed.ant-btn-link {
  color: var(--ant-color-link-active, #0958d9);
}

.react-geo-togglebutton.btn-pressed.ant-btn-dashed {
  color: var(--ant-button-default-active-color, #0958d9);
  border-color: var(--ant-button-default-active-border-color, #0958d9);
  background: var(--ant-button-default-active-bg, #ffffff);
}

.react-geo-togglebutton.btn-pressed.ant-btn-text {
  color: var(--ant-color-text, rgba(0, 0, 0, 0.88));
  background: var(--ant-color-bg-text-active, rgba(0, 0, 0, 0.15));
}
