button.react-geo-togglebutton {
  // overrides the ant-btn:empty style, that is setting the button to hidden if no text or icon are given
  &:empty {
    visibility: visible;
  }

  &.btn-pressed {
    background-color: var(--ant-primary-7);
    border-color: var(--ant-primary-color-active);
  }
}
